#============== BreakpointR configuration file ===============#

[General]
numCPU  =  4 
reuse.existing.files  =  FALSE 

[breakpoints]
windowsize  =  1e+06 
scaleWindowSize  =  NULL 
pairedEndReads  =  FALSE 
chromosomes  =  c('1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','X') 
remove.duplicate.reads  =  NULL 
min.mapq  =  10 
trim  =  10 
peakTh  =  0.33 
zlim  =  3.291 
bg  =  NULL 
minReads  =  100 
WC.cutoff  =  0.9 
