#============== Aneufinder configuration file ===============#

[General]
numCPU  =  4 
reuse.existing.files  =  TRUE 

[Binning]
binsizes  =  4e4
stepsizes = 4e4
variable.width.reference  =  "/Users/Mattsada/Dokument/Groningen/SS_analysis/DATA/HB150318.bam"
reads.per.bin  =  NULL 
pairedEndReads  =  FALSE 
assembly  =  NULL 
chromosomes  =  c(1:22, "X")
remove.duplicate.reads  =  TRUE 
min.mapq  =  10 
blacklist  =  "/Users/Mattsada/Dokument/Groningen/SS_analysis/DATA/blacklist-hg19-binsize_1e+05-upper_0.9985-lower_0.1.bed" 
reads.store  =  TRUE 
use.bamsignals  =  FALSE 

[Correction]
correction.method  =  "GC" 
GC.BSgenome  =  "BSgenome.Hsapiens.UCSC.hg19"
mappability.reference  =  NULL 

[CopyNumberCalling]
method  =  "edivisive" 
R = 10
sig.lvl = 0.1
refine.breakpoints = TRUE
strandseq  =  TRUE 
eps  =  0.1 
max.time  =  60 
max.iter  =  5000 
num.trials  =  30 
states  =  c('zero-inflation','0-somy','1-somy','2-somy','3-somy','4-somy','5-somy','6-somy','7-somy','8-somy') 
most.frequent.state  =  '2-somy' 
most.frequent.state.strandseq  =  '1-somy' 

[SisterChromatidExchange]
resolution  =  c(3,6) 
min.segwidth  =  2 
bw  =  4e+06 
pval  =  1e-08 

[Plotting]
cluster.plots  =  TRUE 
